<div class="mb-3">
  <label for="formFile" class="form-label">Cover Image</label>
  <input class="form-control" type="file" id="formFile" name="image">
</div>
<div class="mb-3">
  <label for="formFileMultiple" class="form-label">Additional Images</label>
  <input class="form-control" type="file" id="formFileMultiple" multiple name="images">
</div>