<% if (typeof user!=='undefined') { %>
  <nav class="navbar navbar-expand-xl navbar-light bg-light">
<% } else { %>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
<% } %>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Björn's Portfolio API</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="list" class="nav-link" aria-current="page" href="/list">List of Projects</a>
        </li>
        <li class="nav-item">
          <a id="docs" class="nav-link" aria-current="page" href="/docs">API Documentation</a>
        </li>
        <% if (typeof user==='undefined') { %>
          <li class="nav-item">
            <a id="login" class="nav-link" href="/login">For Admins</a>
          </li>
        <% } %>
        <% if (typeof user!=='undefined') { %>
          <li class="nav-item">
            <a id="adminIndex" class="nav-link" href="/admin">Admin Start</a>
          </li>
          <li class="nav-item">
            <a id="create" class="nav-link" href="admin/create">Add Project</a>
          </li>
        <% } %>
      </ul>
      <% if (typeof user!=='undefined') { %>
        <ul class="d-flex mb-2 mb-lg-0 justify-content-center">
          <span class="nav-item navbar-text mx-3">
            Logged in as: 
            <%= user.name %>
          </span>
          <a id="logout" class="btn btn-outline-success me-2" role="button" href="/logout">Log Out</a>
        </ul>
      <% } %>
    </div>
  </div>
</nav>