<div class="row text-center">
  <h1>Enter Project Details below</h1>
</div>
<div class="row pb-3">
  <form class="form-project-data">
    <div class="col-md-6 mx-auto text-center">
      <div class="mb-3">
        <label for="title" class="form-label text-capitalize">title</label>
        <input type="text" class="form-control" id="title">
      </div>
      <div class="mb-3">
        <label for="subtitle" class="form-label text-capitalize">subtitle</label>
        <input type="text" class="form-control" id="subtitle">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label text-capitalize">description</label>
        <input type="text" class="form-control" id="description">
      </div>
      <div class="mb-3">
        <label for="dateFirstCompleted" class="form-label text-capitalize">date First Completed</label>
        <input type="date" class="form-control" id="dateFirstCompleted">
      </div>
      <div class="mb-3">
        <label for="siteLink" class="form-label text-capitalize">site Link</label>
        <input type="url" class="form-control" id="siteLink">
      </div>
      <div class="mb-3">
        <label for="techniquesUsed" class="form-label text-capitalize">techniques Used</label>
        <input type="text" class="form-control" id="techniquesUsed">
      </div>
      <div class="mb-3">
        <label for="githubRepo" class="form-label text-capitalize">GitHub Repo</label>
        <input type="url" class="form-control" id="githubRepo">
      </div>
      <div class="justify-self-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>