<tr>
  <th scope="row"><%= project.title %></th>
  <td>
    <%= project.dateFirstCompleted.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'}) %>
  </td>
  <td>
    <a href="#" class="btn btn-sm btn-outline-primary" role="button">Edit</a>
  </td>
  <td>
    <a href="#" class="btn btn-sm btn-outline-danger" role="button">Delete</a>
  </td>
</tr>