<section><%- include ('./partials/projectForm') %></section>
<% if (projects) { %>
  <section class="row mx-auto">
    <%- include ('./partials/projectCards') %>
  </section>
<% } %>
<script src="/js/bundled/index.js"></script>
