<h1 class="my-4 text-center">Welcome to Björn's Portfolio API</h1>
<p class="text-center">This is the backend for Björn Tirsén's next portfolio, where he can add new projects dynamically as admin. The data is stored in a MongoDB database and accessed via a REST API.</p>
<p class="text-center">When the first version of his front-end for the portfolio is completed, the link for it will appear here.</p>
