<div class="row text-center">
  <h1>Log in as Admin:</h1>
</div>
<div class="row">
  <form class="form-login col-md-6 mx-auto text-center">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control text-center" id="email" autocomplete="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control text-center" id="password" autocomplete="current-password">
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
<script src="/js/bundled/index.js"></script>